.container.mt30
  .row
    .col-md-12.text-center
      = image_tag 'city/future-city.jpg', class: 'img-top'
  .row.mt30
    .col-md-12
      %p The year is 2030 and most part of the earth is now run by powerful multinational companies.
      %p Slavery has been brought back and humanity let its darkest sins and perversions settle has a norm.
