<div class="container">
  <h3>Games</h3>

  <% if current_user.players.count < 3 %>
    <%= link_to 'New game', new_player_path %>
  <% end  %>

  <ul>
    <% @players.each do |game| %>
      <li>
        <%= player.full_name %>
      </li>
    <% end %>
  </ul>
</div>
