@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import 'variables';
@import 'base';

// Components
@import "components/sidebar";
@import "components/links";
@import "components/forms";
@import "components/buttons";

.sidebar {
  border-right: 1px solid $bg-grey;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  z-index: 500;
}

.content-container {
  position: fixed;
  left: 200px;
  max-width: 100%;
  padding: 0 50px;
}
